<html>
<head>

<link href="/css/login.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

</head>


<body>

[% if auth_fail %]
<div class="error">
  <p>Authentication Failed!!!  Please Try Again.</p>
</div>
[% END %]

<div class="login">

<form class="login-form " method="post" action="/login"> 

    
    <label for="inputEmail">Username</label>
    <input type="text" id="inputEmail" name="username" value="[% username || ''%]" placeholder="Username">
    <div class="clear"></div>
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword"  name="password" placeholder="Password">

    <div class="clear"></div>
    <button type="submit" value="submit" class="btn">Sign in</button>
    
</form>

</div> <!-- END of Login -->

</body>

</html>
