[% PROCESS header.tt %]



<div id="invoice">

[% PROCESS invoice/invoice_top.tt %]
[% PROCESS invoice/invoice_middle.tt %]
[% PROCESS invoice/invoice_bottom.tt %]

</div> <!-- end of invoice div -->

[% PROCESS footer.tt %]
