/*  Login page */

.login {
    margin: 0 auto;
    border: solid 1px black;
    width: 275px;
    height: 125px;
    padding: 10px;
    margin-top: 15%;
}

.submit{
    margin-left:30%;
    margin-right:30%;
}
/*  This area is for Invoice Page */

/*

#invoice-num {
	font-color:red;
}

#company-info {
	font-color:blue;
}

*/

#middle-invoice th{
    font-size:9px;
    color:white;
    padding:5px;
}

.item {
   background-color:#CCE6FF;
}
/*
#bottom-invoice {
    border: 1px solid black;
    background-color:white;
    padding:10px;

}
*/

/*  This area is for Client Page */


/*  This area is for Client Add Page */

#client-add-form {
    border: 1px solid black;
    margin:20px;
    padding: 5px;
    width:600px;
}

#client-add-form label {
    margin-top: .33em;
    display:block;
}
#client-add-form input {
    display:block;
    width:250px;
}
#client-column-1 {
    float:left;
}
#client-column-2 {
    padding-left:300px;
}

/*  This area is for action_menu */

.action_menu {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.action_menu li {
    display: inline-block;
    height: 15px;
    margin: 5px;
    padding: 5px;
}

.action_menu li a {
    text-decoration:none;
    color: black;    
}
